<a href="https://colab.research.google.com/github/fab-rodrigs/sql-alchemy-test/blob/main/SQLAlchemy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#!pip install sqlalchemy
#!conda install sqlalchemy -y

import sqlalchemy

In [ ]:
sqlalchemy.__version__

'2.0.10'

Conectando ao banco de dados:

In [ ]:
engine = sqlalchemy.create_engine('sqlite:///bancodedados.db', echo=True) # echo = True possibilita ver o equivalente em SQL

Declarando o mapeamento:

In [ ]:
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String # Colunas, dados tipo inteiro e strings

In [ ]:
Base = declarative_base()

In [ ]:
class Usuario(Base):
  __tablename__ = 'users' # obrigatório
  id = Column(Integer, primary_key = True) # obrigatório (chave primária)
  nome = Column(String(50))
  sobrenome = Column(String(50))
  idade = Column(Integer)

  def __repr__(self):
    return "<Usuario(nome={}, sobrenome={}, idade={})>".format(self.nome, self.sobrenome, self.idade)

Criar a tabela no banco de dados

In [ ]:
Base.metadata.create_all(engine)

2023-05-13 15:46:53,225 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-13 15:46:53,236 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("users")

2023-05-13 15:46:53,241 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-13 15:46:53,245 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("users")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("users")

2023-05-13 15:46:53,247 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2023-05-13 15:46:53,256 INFO sqlalchemy.engine.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	nome VARCHAR(50),
	sobrenome VARCHAR(50),
	idade INTEGER,
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	nome VARCHAR(50),
	sobrenome VARCHAR(50),
	idade INTEGER,
	PRIMARY KEY (id)
)

2023-05-13 15:46:53,258 INFO sqlalchemy.engine.Engine [no key 0.00258s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00258s] ()

2023-05-13 15:46:53,276 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Criar instâncias da classe

In [ ]:
usuario = Usuario(nome='Fabricio', sobrenome='Rodrigues', idade = 19)

In [ ]:
usuario.nome

'Fabricio'

In [ ]:
usuario.sobrenome

'Rodrigues'

Criar uma sessão

In [ ]:
from sqlalchemy.orm import sessionmaker

In [ ]:
Session = sessionmaker(bind=engine)
Session

sessionmaker(class_='Session', bind=Engine(sqlite:///bancodedados.db), autoflush=True, expire_on_commit=True)

In [ ]:
session = Session()

Adiocionar objetos (INSERT)

In [ ]:
session.add(usuario)

In [ ]:
session.commit()

2023-05-13 15:46:53,367 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-13 15:46:53,379 INFO sqlalchemy.engine.Engine INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

2023-05-13 15:46:53,387 INFO sqlalchemy.engine.Engine [generated in 0.00777s] ('Fabricio', 'Rodrigues', 19)

INFO:sqlalchemy.engine.Engine:[generated in 0.00777s] ('Fabricio', 'Rodrigues', 19)

2023-05-13 15:46:53,391 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
session.add_all([ # adicionando mais de um usuário
    Usuario(nome='Patrick', sobrenome='Santana', idade = 29),
    Usuario(nome='Mariana', sobrenome='Oliveira', idade = 32)
])

In [ ]:
session.new # informações de memória que ainda não estão no banco de dados

IdentitySet([<Usuario(nome=Patrick, sobrenome=Santana, idade=29)>, <Usuario(nome=Mariana, sobrenome=Oliveira, idade=32)>])

In [ ]:
session.commit() # inserindo informações no banco de dados

2023-05-13 15:47:50,536 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-13 15:47:50,548 INFO sqlalchemy.engine.Engine INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

2023-05-13 15:47:50,554 INFO sqlalchemy.engine.Engine [cached since 57.18s ago] ('Patrick', 'Santana', 29)

INFO:sqlalchemy.engine.Engine:[cached since 57.18s ago] ('Patrick', 'Santana', 29)

2023-05-13 15:47:50,561 INFO sqlalchemy.engine.Engine INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO users (nome, sobrenome, idade) VALUES (?, ?, ?)

2023-05-13 15:47:50,565 INFO sqlalchemy.engine.Engine [cached since 57.19s ago] ('Mariana', 'Oliveira', 32)

INFO:sqlalchemy.engine.Engine:[cached since 57.19s ago] ('Mariana', 'Oliveira', 32)

2023-05-13 15:47:50,568 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Consultar objetos (SELECT)

In [ ]:
query_user = session.query(Usuario).filter_by(nome='Fabricio').first() # query = consulta

2023-05-13 15:54:44,623 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?
 LIMIT ? OFFSET ?

2023-05-13 15:54:44,632 INFO sqlalchemy.engine.Engine [cached since 204.8s ago] ('Fabricio', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 204.8s ago] ('Fabricio', 1, 0)

In [ ]:
query_user

In [ ]:
query_user.sobrenome

'Rodrigues'

In [ ]:
query_user.id # sqlalchemy criar diferentes chaves primarias sozinho

1

^ Isso é mapeamento objeto relacional (ORM) ^

Imprimindo dados

In [ ]:
for instance in session.query(Usuario).order_by(Usuario.id):
  print(instance.nome, instance.sobrenome)

2023-05-13 15:55:50,420 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users ORDER BY users.id

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users ORDER BY users.id

2023-05-13 15:55:50,425 INFO sqlalchemy.engine.Engine [generated in 0.00506s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00506s] ()

Fabricio Rodrigues
Patrick Santana
Mariana Oliveira

Imprimindo informações separadas

In [ ]:
for info in session.query(Usuario.nome, Usuario.idade).filter_by(nome='Fabricio'):
  print(info)

2023-05-13 15:58:15,980 INFO sqlalchemy.engine.Engine SELECT users.nome AS users_nome, users.idade AS users_idade
FROM users
WHERE users.nome = ?

INFO:sqlalchemy.engine.Engine:SELECT users.nome AS users_nome, users.idade AS users_idade
FROM users
WHERE users.nome = ?

2023-05-13 15:58:15,983 INFO sqlalchemy.engine.Engine [generated in 0.00289s] ('Fabricio',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00289s] ('Fabricio',)

('Fabricio', 19)

Modificar objetos (UPDATE)

In [ ]:
usuario

In [ ]:
usuario.sobrenome = 'Rodrigues de Santana'

In [ ]:
usuario

In [ ]:
session.dirty # verificando informações antes de inserir no banco de dados

IdentitySet([<Usuario(nome=Fabricio, sobrenome=Rodrigues de Santana, idade=19)>])

In [ ]:
session.commit() # por se tratar apenas de objetos, basta alterar a informação do próprio objeto e o sqlalchemy faz todo o processo de modificação

2023-05-13 16:01:10,998 INFO sqlalchemy.engine.Engine UPDATE users SET sobrenome=? WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:UPDATE users SET sobrenome=? WHERE users.id = ?

2023-05-13 16:01:11,004 INFO sqlalchemy.engine.Engine [generated in 0.00559s] ('Rodrigues de Santana', 1)

INFO:sqlalchemy.engine.Engine:[generated in 0.00559s] ('Rodrigues de Santana', 1)

2023-05-13 16:01:11,007 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

Deletar objetos (DELETE)

In [ ]:
usuario = session.query(Usuario).filter_by(nome="Mariana").first() # first pega o primeiro nome com essas características

2023-05-13 16:02:57,041 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-13 16:02:57,046 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?
 LIMIT ? OFFSET ?

2023-05-13 16:02:57,052 INFO sqlalchemy.engine.Engine [cached since 697.2s ago] ('Mariana', 1, 0)

INFO:sqlalchemy.engine.Engine:[cached since 697.2s ago] ('Mariana', 1, 0)

In [ ]:
usuario

In [ ]:
session.delete(usuario)

In [ ]:
session.commit() # para converter o código para sql tem que dar o commit

2023-05-13 16:03:46,004 INFO sqlalchemy.engine.Engine DELETE FROM users WHERE users.id = ?

INFO:sqlalchemy.engine.Engine:DELETE FROM users WHERE users.id = ?

2023-05-13 16:03:46,010 INFO sqlalchemy.engine.Engine [generated in 0.00623s] (3,)

INFO:sqlalchemy.engine.Engine:[generated in 0.00623s] (3,)

2023-05-13 16:03:46,017 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

In [ ]:
session.query(Usuario).filter_by(nome="Mariana").count() # conta quantos usuários existem com esse nome

2023-05-13 16:04:51,981 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2023-05-13 16:04:51,996 INFO sqlalchemy.engine.Engine SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?) AS anon_1

INFO:sqlalchemy.engine.Engine:SELECT count(*) AS count_1
FROM (SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users
WHERE users.nome = ?) AS anon_1

2023-05-13 16:04:52,001 INFO sqlalchemy.engine.Engine [generated in 0.00486s] ('Mariana',)

INFO:sqlalchemy.engine.Engine:[generated in 0.00486s] ('Mariana',)

0

In [ ]:
for instance in session.query(Usuario).order_by(Usuario.id): # imprimindo dados novamente
  print(instance.nome, instance.sobrenome)

2023-05-13 16:06:00,638 INFO sqlalchemy.engine.Engine SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users ORDER BY users.id

INFO:sqlalchemy.engine.Engine:SELECT users.id AS users_id, users.nome AS users_nome, users.sobrenome AS users_sobrenome, users.idade AS users_idade
FROM users ORDER BY users.id

2023-05-13 16:06:00,647 INFO sqlalchemy.engine.Engine [cached since 610.2s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 610.2s ago] ()

Fabricio Rodrigues de Santana
Patrick Santana